.grid {
  display: grid;
  width: 675px;
  height: 500px;
}

.pixel {
  /* padding: 2px; */
  border: 1px solid #0000002e;
}

button {
  /* border: none; */
  padding: 10px 15px 10px 15px;
  margin: 10px 5px 10px 5px;
}
